*{
    font-family: sans-serif;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: rgb(250 251 253);
}

.navigation{
    height: 100px;
    width: 100%;
    background-color: #4682B4;
    display: flex;
    border-bottom: 1px solid black;

}


.navigation-item{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: white;
}


.login-form{
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    width: 50%;
    background-color: #4682B4;   
}



.register-form{
    display: none;
}


.btn-div{
    display: flex;
    justify-content: center;
}



.validation-User{
display: flex;
flex-direction: column;
margin-top: 100px;
}

input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.footer{
    border-top: solid 1px black;
    height: 100px;
    width: 100%;
    background-color: #4682B4;
    display: flex;
}


.foot-link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.main-User{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    width: 100%;
}


.left-Column{
    width: 200px;
    height: 100%;
    grid-row: span 2;
    background-color: #00BFFF;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.left{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.account-User{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 25px 25px 25px 25px;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 20px;
}
 
.fotoUser{
    grid-row: span 4;
    margin: auto;
    border: 1px solid black;
    padding: 10px;

}


.foto{
    width: 100%;
    height: 100%;
    background-color: white;
}