<div class="main-User">


    <div class="left-Column">
        <a class="left" href="#">Моя страница</a>
        <a class="left" href="index.php/?controller=message&action=message">Мессенджер</a>
        <a class="left" href="#">Друзья</a>
        <a class="left" href="#">Фотографии</a>
        <a class="left" href="#">Настройки</a>
    </div>


        <div class="account-User">

            <div class="fotoUser"> {% if user['foto'] %}
                    <img src="upload/user['foto']" height="100" width="100">
                    {% else %} 
                    <img src="/views/img/person.png" alt="" height="100" width="100">
                    {% endif %}
            </div>


            <div class="info">Имя: {{ user['firstName']}}</div>


            <div class="info">Фамилия: {{ user['lastName']}}</div>


            <div class="info">Дата: {% if user['date'] %}
                    {{date}}
                        {% else %} 
                        Не указан!
                        {% endif %}
            </div>


            <div class="info">Статус: {% if user['status'] %}
                    {{status}}
                        {% else %} 
                        Не заполнен!
                        {% endif %}
            </div>

        </div>

        
        <div class="foto">
            Фото: {% if user['foto'] %}
                    <img src="upload/user['foto']" height="300" width="300">
                    {% else %} 
                    Вы еще не загружали свои фотографии!
                    {% endif %}
            <button>Загрузить фото</button>
        </div>
        

    </div>