<div class="footer">

    <a href="" class="foot-link">Home</a>
    <a href="feedback.php" class="foot-link">FeedBack</a>
    <a href="account.php" class="foot-link">Account</a>
    <a href="about-us.php" class="foot-link"">AboutUs</a>
    <p>Этот веб-сайт предназначен только для образовательных целей и не пытается копировать чужие сайты.</p>

</div>

    <script src="javaScript/jquery-1.7.1.min.js"></script>
    <script src="javaScript/main.js"></script>
</body>
</html>