<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles/style.css">
    <title>Chat With Friends</title>
</head>
<body>

<nav class="navigation">

  <a class="navigation-item" href="feed.php">Feed</a>
  <a class="navigation-item" href="account.php">Account</a>
  <a class="navigation-item" href="index.php">Login</a>
  <a class="navigation-item" href="about-us.php">About Us</a>
      
</nav>          
