<div class="login-form">


<div class="btn-div">
        <button class="btn" id="login">Login</button> OR <button class="btn" id="register">Register</button>
</div>
        


<div class="validation-User" id="validation-User">
        <input type="text" id="userNameLog" name="userNameLog" placeholder="Логин" value="" required>
        <input type="password" id="password1" name="password" placeholder="Пароль"  value="" required>
        <button class="btn" name="loginNow" id="loginNow">Login Now</button>
</div>



<div class="register-form" id="register-form">   
        <input type="text" id="userNameReg" name="userNameReg" placeholder="Логин" required>
        <input type="text"  id="firstName" name="firstName" placeholder="Имя" required>
        <input type="text"  id="lastName" name="lastName" placeholder="Фамилия" required>
        <input type="email"  id="email" name="email" placeholder="E-mail" required>
        <input type="password" for="password" id="password" name="password" placeholder="Пароль" required>
        <div>Ваши данные будут использоваться для обеспечения бесперебойной работы. Мы уважаем вашу конфиденциальность.</div>
        <button class="btn" name="registration" id="registration">Register</button>            
</div>



</div>