    
    
    <div>
    <input type="text" placeholder="Имя">
    <input type="text" placeholder="Фамилия">
    <input type="text" placeholder="Дата">
    <input type="text" placeholder="Город">
    <input type="text" placeholder="Статус">
    <button>Изменить</button>
    </div>